/* base css */

body {
    font-family: var(--fonte-principal);
    background-color: #ffffff;
    color: #333333;
}

.btn {
    font-size: 1.25rem;
    width: 161px;
    height: 48px;
    border-radius: 25px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    padding: 10px 20px;

    transition: background-color 0.3s, border 0.3s;
}

.btn-outiline {
    background-color: transparent;
    border: 2px solid #ffffff;
    line-height: 23px;

}

.btn-filled {
    background-color: #ffffff;
    color: #6329A2;
}

.btn:hover {
    background-color: #6329A2;
    color: #ffffff;
    border-color: #6329A2;
}