.site-footer {
    background-color: #333333;
    color: #ffffff;
}

.footer-content {
    max-width: 1360px; 
    margin: 0 auto;
    padding: 2.5rem; /* 40px */
    display: flex;
    justify-content: space-between;
}

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
}

.footer-nav{
    width: 781px;
    display: flex;
    justify-content: space-between;
}

.footer-nav ul{
    display: flex;
    flex-direction: column;
    gap: 1rem; /* 16px */
}

.footer-nav strong {
    color: #EDEDED;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 8%;
    margin-bottom: 1rem; /* 16px */
    font-weight: 400;
    display: block;
}

.footer-nav li a{
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 8%;
}

.footer-nav li a:hover{
    text-decoration: underline;
}

.newsletter-form  {
    display: flex;
    flex-direction: column;
    width: 344px;
    height: 88px;
}

.newsletter-form input{
    border-radius: 30px; 
    color: #AAAAAA;
    padding: 0.75rem 1.25rem; /* 12px 20px */
    width: 21.5rem; /* 344px */
}

.footer-social span {
    color: #EDEDED;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 8%;
    margin-bottom: 1rem; /* 16px */
    display: block;
}

.footer-social ul {
    display: flex;
    gap: 1.25rem; /* 20px */
}

.footer-social ul li a:hover img {
    opacity: 0.7;
}

.footer-copy {
    border-top: 1px solid #FFFFFF;
    margin: 0 auto;
    width: 1360px;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 8%;
    text-align: center;
    padding: 1.25rem 0; /* 20px 0 */
}